
// Flex colors
$white:  #ffffff;
$grey: #333333;
$light-grey:  #eeeeee;
$med-grey:  #999999;
$dark-grey: #777 ; //#242121;
// Font family
$header: 'Lato', 'Source Sans Pro', 'Verdana', sans-serif;
$mono: 'Source Code Pro', 'Consolas', monospace;
$sans: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Body
$body-bg: $white;
$text-color: $dark-grey;

// Links
$link-color: $color-primary-2;
$link-hover-color: $color-primary-0;

// Sidebar (aside)
$sidebar-bg: $white;
$sidebar-text-color: $grey;
$sidebar-link-color: $color-primary-2;
$sidebar-link-hover-color: $color-primary-0;

// Buttons
$btn-bg: $color-secondary-1-3;
$btn-text-color: $white;
$btn-hover-color: $color-secondary-1-2;

// Tag cloud
$tag-bg: $color-secondary-1-3;
$tag-text-color: $white;
$tag-hover-color: $color-secondary-1-2;

// Header
$header-text-color: $med-grey;

// Footer
$footer-text-color: $med-grey;
$footer-border-color: $light-grey;

// Relativer posts
$rel-post-border-color: $light-grey;

// Nav
$nav-border-color: $light-grey;

// Social buttons

$email-bg-color: #578AD6;
$facebook-bg-color: #3e5b98;
$github-bg-color: #111010;
$google-bg-color: #d93e2d;
$instagram-bg-color: #125688;
$linkedin-bg-color: #3371b7;
$pinterest-bg-color: #c92619;
$reddit-bg-color: #ff4500;
$rss-bg-color: #f26109;
$soundcloud-bg-color: #ff5500;
$stack-overflow-bg-color: #ff9900;
$tumblr-bg-color: #36465d;
$twitter-bg-color: #4da7de;
$youtube-bg-color: #e02a20;
$gitlab-bg-color: #fca326;
$xing-bg-color: #007575;
