@import "_colors.scss";

@import "_variables.scss";
@import "_normalize.scss";
@import url("https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700");

html, body {
  width: 100%;
  height: 100%;
}

p.caption{ text-align: center; font-size:80%;color:#CCCCCC;}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: 1.1;
  margin: 0.5em 0em 1.0em;
}

h1{
  font-size: 2.4em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em
}

h4 {
  font-size: 1.36em
}

h5 {
  font-size: 1.2em
}

h6 {
  font-size: 1.1em
}

body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $sans;
  font-size: 1.0em ;//1.02em;
  line-height: 1.5em;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover-color;
}

hr {
  color: $light-grey;
  background-color: $light-grey;
  height: 2px;
  border: none;
  margin-top: 0em;
  margin-bottom: 0.1em;
}

img {
  max-width: 100%;
}

aside {
  background-color: $sidebar-bg;
  color: $sidebar-text-color;
  text-align: left;

  a {
    color: $sidebar-link-color;
  }

  a:hover {
    color: $sidebar-link-hover-color;
  }

  div {
    padding: 20px;
    margin: 0;
    
    header h1 a { color: #494949 !important; font-weight: bold; font-size: 0.6em; }

    img {
      border-radius: 50%;
      max-width: 140px;
    }

    h1 {
      margin: 15px 0 5px 0;
    }

    p {
      margin: 0 0 15px 0;
      font-size: .92em;
    }
  }

  nav {
    h3 {
      margin-top: .1em;
      margin-bottom:.1em;
    }
    ul {
    padding-left: 10em;
      padding-top: -1em;
      margin-top: 0em;  
      li {
        display: inline;
        line-height: 1.6em;
        font-size: 1em;
        margin-bottom: 0.1em;
        padding: 0em;
        a small { 
          color: $text-color;
          padding-top: 0.1em; 
          margin-left: 0.5em;
          margin-top: -0.8em; 
          display: none;
          }
      }

    }
  }
}

ul ul { list-style: none; margin: 0; padding-left: 3ex;}
li p { margin : 0}
main {
  nav {
    text-align: left;
    text-transform: uppercase;
    font-size: .72em;
    padding: 0px 0 0px 0;
    border-bottom: $nav-border-color 1px solid;
  }

  nav, .translations {
    a {
      padding: 0 4px 0 4px;
      border-left: $nav-border-color 1px solid;
      border-right: $nav-border-color 1px solid;
    }

    :first-child {
      border-left: none;
    }

    :last-child {
      border-right: none;
    }
  }

  .neighbors {
    margin: 4% 0% 4% 0%;
    height: 20px;
  }

  .pagination {
    margin: 4% 8% 4% 8%;
    height: 20px;
  }

  .social-share {
    p {
      font-size: .8em;
    }
  }

  article {
    margin: 0 4% 2% 4%;

    header {
      h1, h2 {
        margin-bottom: 0.5em;
      }

      p {
        color: $header-text-color;
        font-size: 0.86em;
      }

      .translations {
        float: right;

        .active {
          font-weight: 600;
        }
      }
    }

    code, kbd, samp, pre {
      font-family: $mono;
    }

    blockquote, pre {
      background-color: rgba(128,128,128,0.05);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 8px solid rgba(128,128,128,0.075);
      border-left-width: 10px;
    }

    blockquote {
      padding: 10px 20px;
      font-weight: 300;
      font-size: 1.1em;
    }

    pre {
      padding: 4px;
      font-size: .9em;
      overflow-x: auto;
    }

    samp {
      white-space: pre;
      display: block;
      overflow-x: auto;
    }

    kbd {
      padding: .1em .6em;
      border: 1px solid rgba(63,63,63,0.25);
      box-shadow: 0 1px 0 rgba(63,63,63,0.25);
      background-color: #fff;
      color: #333;
      border-radius: 3px;
      display: inline-block;
      margin: 0 .1em;
      white-space: nowrap;
      font-size: .78em;
    }

    code {
      font-size: .8em;
      //white-space: nowrap;
      color: #c25;
      padding: 1px 3px;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      border-radius: 3px;
    }

    .comment-count {
      font-size: .8em;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;

      thead:first-child tr:first-child th {
         border-top: 0;
      }

      th, td {
        padding: 8px;
        line-height: 20px;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }

  footer {
    padding-top: 4px;
    border-top: $footer-border-color 1px solid;

    p {
      margin: 2px;
      text-align: center;
      padding: 0 40px 0 40px;
      color: $footer-text-color;
      font-size: 11px;
    }
  }
}

.tag-cloud {
  a {
    background-color: $tag-bg;
    padding: .2em .6em .2em;
    font-size: .74em;
    line-height: 1;
    color: $tag-text-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }

  a:hover {
    background-color: $tag-hover-color;
  }
}

a.btn {
  background-color: $btn-bg;
  padding: .6em .6em;
  font-size: .8em;
  line-height: 1;
  color: $btn-text-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

a.btn:hover {
  background-color: $btn-hover-color;
}

.center, .text-center {
  text-align: center;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

div.related-posts {
  margin: 15px 0 15px 0;
  padding-bottom: 20px;
  border-top: $rel-post-border-color 1px solid;
  border-bottom: $rel-post-border-color 1px solid;

  h4 {
    margin: 20px 0 25px 0;
  }

  ul {
    font-size: 1.1em;
    padding-left: 12px;

    li {
      padding: 4px 0 4px 0;
    }
  }
}
ul.list, ul.social, ul.related-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.list {
  padding: 0.1em 0 1em 0;

  li {
    padding: 0.5em;
  }
}

ul.social {
  font-size: 1.6em;
  padding-top: 20px;

  li {
    display: inline;
  }

  a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: .8em;
    line-height: 36px;
  }

  a.sc-facebook {
    background-color: $facebook-bg-color;
  }

  a.sc-google {
    background-color: $google-bg-color;
  }

  a.sc-instagram {
    background-color: $instagram-bg-color;
  }

  a.sc-pinterest {
    background-color: $pinterest-bg-color;
  }

  a.sc-linkedin {
    background-color: $linkedin-bg-color;
  }

  a.sc-rss {
    background-color: $rss-bg-color;
  }

  a.sc-stack-overflow {
    background-color: $stack-overflow-bg-color;
  }

  a.sc-tumblr {
    background-color: $tumblr-bg-color;
  }

  a.sc-twitter {
    background-color: $twitter-bg-color;
  }

  a.sc-youtube {
    background-color: $youtube-bg-color;
  }

  a.sc-github, a.sc-github-alt {
    background-color: $github-bg-color;
  }

  a.sc-envelope-o {
    background-color: $email-bg-color;
  }

  a.sc-reddit {
    background-color: $reddit-bg-color;
  }

  a.sc-soundcloud {
    background-color: $soundcloud-bg-color;
  }

  a.sc-gitlab {
    background-color: $gitlab-bg-color;
  }

  a.sc-xing {
    background-color: $xing-bg-color;
  }

}

.ads-aside {
  display: inline-block;
  height: 90px;
  width: 70%;
}

.ads-responsive {
  display: inline-block;
  margin: 6px 0 6px 0;
  width: 90%;
  height: 70px;
  margin-left: 5%;
}

//
// Desktop
//
div.wrapper{ max-width: 1200px;margin : 0 auto}

.me { display : none;}
@media screen and (min-width: 768px) {
  .me { display : inherit;}
  h1{
    margin-top: 1em;
  }
  ul.list {
    padding: 0.1em 0 1em 0;

    li {
      padding: 0em;
    }
  }

  div.wrapper{ width: auto;margin : 0 auto;}


  aside {
    width: 25%;
    height: 100%;
    float: left;
    
    div {
      padding: 36px 18px;
      header h1 a {font-size: 0.7em; }
      nav {

        ul {
          li {
            padding: 0 !important;
            display: block;
        a small { 
          color: $text-color;
          padding-top: 0.1em; 
          margin-left: 0.5em;
          margin-top: -0.8em; 
          display: block;
          }
          }
        }
      }

      ul.social {
        padding-top: 32px;
      }
    }
  }

  main {
    width: 75%;
    height: 100%;
    margin-top: 5em;
    float: left;
    
    left: 25%;

    article {

      &.single {
        min-height: 80%;
      }

      ul.list {
        li {
          padding: 2px;
        }
      }
    }
  }

  .ads-aside {
    height: 250px;
  }

  .ads-responsive {
    height: 90px;
  }
}

@media screen and (min-width: 1024px) {
  aside div header h1 a { color: #494949 !important; font-weight: bold; }
}

//pelican
.text_cell .prompt{
  display: none;
}
div.text_cell div.inner_cell  div.text_cell_render pre {
  margin-left: 14ex;
  code{border: none;}
}